body {
  font-family: Calibri;
  transition: 0.2s ease;
  text-align: center;
}

body.success {
  background-color: #FFD700;
  transition: 0.2s ease;
}

figcaption {
	font-size:				0.75em;
	font-style:				italic;
	font-family:			Arial, Helvetica, sans-serif;
	color:					#000;
	clear:					  both;
	margin:					0.5em auto;
	}

.row {
  display: flex;
}

.image {
  /* float: left; */
  /* width: 50%; */
  margin: auto;
  width: 30%;
}

#timer {
  display: inline;
  background-color: lightgrey;
  width: 100px;
  border: 5px solid green;
  padding: 3px;
  margin: 20px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

#start-button {
  display:inline;
  padding: 3px;
  margin: 5px 0px;
  font-weight: bold;
  font-size: 1em; 
  border: 5px solid #98720b
}

#start-button:focus {
  background-color: #FFD700;
}

#start-button:hover {
  background-color: aqua;
}

#game-container-1 {
  margin: 0px auto;
}

#map-and-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
  margin-left: 10px;
  text-align: center;
}

#controls button {
  padding: 10px 10px;
  width: 38px;
  height: 38px;
  margin-top: 10px;
  background-color: #ddd;
  border: 1px solid #000;
  border-radius:3px;
  cursor: pointer;
  position: relative;
}

#customs #horiz {
  display:          flex;
  align-items:      center;
  justify-content:  center;
}

button#right {
  margin-left: 5px;
}

button#left {
  margin-right: 5px;
}

#controls button::before { /* uses :before pseudoselector to insert arrows in the button controls  */
  content:'';
  width: 0px;
  position: absolute;
}

button#left::before {
  border-top: 10px solid transparent;
  border-right: 15px solid #000;
  border-bottom: 10px solid transparent;
  left: 10px;
  top: 9px;
}

button#right::before {
  border-top: 10px solid transparent;
  border-left: 15px solid #000;
  border-bottom: 10px solid transparent;
  left: 12px;
  top: 9px;
}

button#up::before {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid #000;
  left: 9px;
  top: 9px;
}

button#down::before {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 15px solid #000;
  left: 9px;
  top: 12px;
}

.game-map {
position: relative;
}

div.layer,
div.layer div {
position: absolute;
} 

.default .floor {
background-color: #fff;
}

.default .wall {
background-color: black;
}

.theseus
{
background: 			url(../images/theseus.gif) no-repeat left;
}

.goal {
  background: 			url(../images/minotaur.gif) no-repeat left;
  background-color: #FFD700;
  border: 1px solid #98720b;
}

/* #success-msg {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  padding: 5px 5px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: calc(100% - 8px);
} */

#message {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  padding: 285px 5px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: calc(100% - 8px);
}

/* body.success #success-msg {
  opacity: 1;
  transition: opacity 0.2 ease;
} */

body.success #message {
  opacity: 1;
  transition: opacity 0.2 ease;
}

p {
  font-family: 'IM Fell Great Primer', serif;
  margin: 10px 100px 30px 100px;
  padding: 0px;
  text-align: justify center;
}

h1 {
  font-family: 'Libre Baskerville', serif;

}

/* .hide {
  display: none;
} */

#message {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

